.rental {
  @include position(absolute, 0);
  @include size(613px, 523px);
  background-color: $background-color;
  box-shadow: 0 1px 7px rgba($brand-color, 0.08), 0 0 100px rgba($brand-color, 0.05);
  margin: auto;
  overflow: hidden;
}

.rental-profile {
  @include margin(15px 22px);
  align-items: flex-start;
  display: flex;
}

.rental-user {
  @include size(69px);
  border-radius: 50%;
  margin-right: 20px;
}

.rental-info {
  flex: 1;
}

.rental-icons {
  display: flex;

  img {
    margin-right: 7px;
  }
}

.rental-actions {
  @include margin(null 22px);
  border-top: 1px solid $border-color;
  display: flex;
  padding-top: 8px;

  button + button {
    margin-left: 5px;
  }

  span {
    flex: 1;
  }
}
