.favorite {
  @include position(absolute, 0);
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  overflow-y: auto;
  padding: 35px 115px;
  transition: opacity $favorite-out-duration $ease-out-sine, visibility 0s $favorite-out-duration;
  visibility: hidden;
  z-index: 0;

  .rental--toggled & {
    opacity: 1;
    transition: opacity $favorite-out-duration $ease-out-sine;
    visibility: visible;
  }
}

.favorite-content {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 0s $favorite-out-duration, transform 0s $favorite-out-duration;

  .rental--toggled & {
    opacity: 1;
    transform: translateY(0);
    transition: opacity $favorite-in-duration $ease-out-circ, transform $favorite-in-duration $ease-out-circ;
  }
}
