@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  to {
    max-height: $favorite-lists-item-size;
    opacity: 1;
  }
}
